################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/prime_numbers/prime_numbers.zip
/prime_numbers/.vs/prime_numbers/v17/ipch/AutoPCH/6b8d0a5baebe3cd3/PRIME_NUMBERS.ipch
/prime_numbers/.vs/prime_numbers/v17/.suo
/prime_numbers/.vs/prime_numbers/v17/Browse.VC.db
