################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/prime_numbers/prime_numbers.zip
